# Day 2 â€” NumPy Ops: Stock Portfolio Calculator
Goal: Use NumPy to calculate portfolio value, allocations, and simulate scenarios using Portfolio.csv

In [1]:
import numpy as np
import pandas as pd

RAW = "data/Portfolio.csv"

df = pd.read_csv(RAW)
df.head()

  Ticker  Quantity                Sector       Close    Weight
0   AAPL         1                    IT  218.270004  3.461290
1   ADAP         1       Pharmaceuticals    0.291000  0.004615
2   AGCO         1           Agriculture   93.089996  1.476206
3     BA         2  Military Engineering  178.110001  2.824439
4     BG         4           Agriculture   73.250000  1.161586

In [2]:
tickers = df['Ticker'].values
quantities = df['Quantity'].values
prices = df['Close'].values

print("Tickers:", tickers)
print("Quantities:", quantities)
print("Prices:", prices)

Tickers: ['AAPL' 'ADAP' 'AGCO' 'BA' 'BG' 'CALM' 'CAT' 'CSCO' 'CVX' 'DDOG' 'DE'
 'GRWG' 'HUM' 'IBKR' 'IEX' 'JPM' 'KO' 'LMT' 'MS' 'MSCI' 'MSFT' 'NFLX'
 'OSK' 'PFE' 'PG' 'SPY' 'TMUS']
Quantities: [1 1 1 2 4 5 1 5 2 5 4 2 1 1 5 5 5 5 1 1 3 1 3 2 2 3 5]
Prices: [2.18270004e+02 2.91000000e-01 9.30899960e+01 1.78110001e+02
 7.32500000e+01 8.91999970e+01 3.35779999e+02 6.02999990e+01
 1.64750000e+02 1.05029999e+02 4.72429993e+02 1.27000000e+00
 2.66170013e+02 1.73360001e+02 1.81910004e+02 2.41630005e+02
 6.86699980e+01 4.39700012e+02 1.20139999e+02 5.62559998e+02
 3.91260010e+02 9.60289978e+02 9.57799990e+01 2.62800010e+01
 1.66690002e+02 5.63979980e+02 2.55839996e+02]

In [3]:
values = quantities * prices
df['value'] = values    
df

   Ticker  Quantity                Sector       Close     Weight        value
0    AAPL         1                    IT  218.270004   3.461290   218.270004
1    ADAP         1       Pharmaceuticals    0.291000   0.004615     0.291000
2    AGCO         1           Agriculture   93.089996   1.476206    93.089996
3      BA         2  Military Engineering  178.110001   2.824439   356.220002
4      BG         4           Agriculture   73.250000   1.161586   293.000000
5    CALM         5           Agriculture   89.199997   1.414519   445.999985
6     CAT         1           Engineering  335.779999   5.324744   335.779999
7    CSCO         5                    IT   60.299999   0.956227   301.499995
8     CVX         2     Natural Resources  164.750000   2.612578   329.500000
9    DDOG         5                    IT  105.029999   1.665548   525.149995
10     DE         4           Agriculture  472.429993   7.491717  1889.719972
11   GRWG         2           Agriculture    1.270000   0.020139     2.540000
12    HUM         1            Healthcare  266.170013   4.220880   266.170013
13   IBKR         1               Finance  173.360001   2.749114   173.360001
14    IEX         5           Engineering  181.910004   2.884699   909.550020
15    JPM         5               Finance  241.630005   3.831729  1208.150025
16     KO         5      Food & Beverages   68.669998   1.088958   343.349990
17    LMT         5  Military Engineering  439.700012   6.972690  2198.500060
18     MS         1               Finance  120.139999   1.905160   120.139999
19   MSCI         1               Finance  562.559998   8.920984   562.559998
20   MSFT         3                    IT  391.260010   6.204537  1173.780030
21   NFLX         1         Entertainment  960.289978  15.228120   960.289978
22    OSK         3           Engineering   95.779999   1.518863   287.339997
23    PFE         2       Pharmaceuticals   26.280001   0.416744    52.560002
24     PG         2        Consumer Goods  166.690002   2.643343   333.380004
25    SPY         3               Finance  563.979980   8.943502  1691.939940
26   TMUS         5    Telecommunications  255.839996   4.057068  1279.199980

In [4]:
portfolio_value = np.sum(values)
print(f"Total Portfolio Value: ${portfolio_value:,.2f}")

Total Portfolio Value: $16,351.33

In [6]:
allocations = values / portfolio_value
df['allocation'] = np.round(allocations * 100, 2)
df

,Ticker,Quantity,Sector,Close,Weight,value,allocation
0,AAPL,1,IT,218.270004,3.461290,218.270004,1.33
1,ADAP,1,Pharmaceuticals,0.291000,0.004615,0.291000,0.00
2,AGCO,1,Agriculture,93.089996,1.476206,93.089996,0.57
3,BA,2,Military Engineering,178.110001,2.824439,356.220002,2.18
4,BG,4,Agriculture,73.250000,1.161586,293.000000,1.79
5,CALM,5,Agriculture,89.199997,1.414519,445.999985,2.73
6,CAT,1,Engineering,335.779999,5.324744,335.779999,2.05
7,CSCO,5,IT,60.299999,0.956227,301.499995,1.84
8,CVX,2,Natural Resources,164.750000,2.612578,329.500000,2.02
9,DDOG,5,IT,105.029999,1.665548,525.149995,3.21
10,DE,4,Agriculture,472.429993,7.491717,1889.719972,11.56
11,GRWG,2,Agriculture,1.270000,0.020139,2.540000,0.02
12,HUM,1,Healthcare,266.170013,4.220880,266.170013,1.63
13,IBKR,1,Finance,173.360001,2.749114,173.360001,1.06
14,IEX,5,Engineering,181.910004,2.884699,909.550020,5.56
15,JPM,5,Finance,241.630005,3.831729,1208.150025,7.39
16,KO,5,Food & Beverages,68.669998,1.088958,343.349990,2.10
17,LMT,5,Military Engineering,439.700012,6.972690,2198.500060,13.45
18,MS,1,Finance,120.139999,1.905160,120.139999,0.73
19,MSCI,1,Finance,562.559998,8.920984,562.559998,3.44
20,MSFT,3,IT,391.260010,6.204537,1173.780030,7.18
21,NFLX,1,Entertainment,960.289978,15.228120,960.289978,5.87
22,OSK,3,Engineering,95.779999,1.518863,287.339997,1.76
23,PFE,2,Pharmaceuticals,26.280001,0.416744,52.560002,0.32
24,PG,2,Consumer Goods,166.690002,2.643343,333.380004,2.04
25,SPY,3,Finance,563.979980,8.943502,1691.939940,10.35
26,TMUS,5,Telecommunications,255.839996,4.057068,1279.199980,7.82

In [9]:
sector_alloc = df.groupby('Sector')['value'].sum() / portfolio_value * 100
print("\nSector Allocations (%):")
print(sector_alloc)

Sector Allocations (%):
Sector
Agriculture             16.661335
Consumer Goods           2.038855
Engineering              9.373365
Entertainment            5.872855
Finance                 22.971524
Food & Beverages         2.099829
Healthcare               1.627819
IT                      13.568926
Military Engineering    15.623927
Natural Resources        2.015126
Pharmaceuticals          0.323221
Telecommunications       7.823216
Name: value, dtype: float64

In [10]:
# Example: 10% drop in all stock prices

new_prices = prices * 0.9

new_values = quantities * new_prices

new_total = np.sum(new_values)

print("New portfolio value after 10% drop:", new_total)
print("Loss: ", portfolio_value - new_total)

New portfolio value after 10% drop: 14716.197886499998
Loss:  1635.1330985000022

In [11]:
df.to_csv("data/Portfolio_Processed.csv", index=False)
print("Saved processed portfolio snapshot")

Saved processed portfolio snapshot